.out-div {
				border:0px solid red;
				width: 875px;
				height: 1120px;
				margin: 0 auto;
				position: static;
			}
			/*博客列表*/
			
			.blog-item {
				width: 850px;
				height: 210px;
				border: 3px solid #D1D1D1;
				margin: 15px 5px;
				padding: 5px 5px;
				/*transition: all .35s ease-in-out;*/
			}
			/*.blog-item:hover{
				border: 3px solid #C44F00;
			}*/
			.blog-item-t,
			.blog-item-tag,
			.blog-item-title {
				height: 45px;
				border: 0px solid salmon;
				line-height: 45px;
			}
			
			.blog-item-title {
				font-size: 24px;
				width: auto;
				float: left;
				margin-left: 5px;
				border: 0px solid salmon;
			}
			
			.blog-item-tag {
				width: auto;
				float: right;
				color: #9A9A9A;
				font-size: 0.75em;
				
			}
			
			.blog-item-content {
				border: 0px solid blue;
				height: 106px;
				text-indent: 2em;
				line-height: 1.4em;
				font-size: 0.95em;
				padding: 1px 5px;
				/*letter-spacing:3px;*/
				
			}
			
			.blog-item-author{
				height: 20px;
				width: 100px;
				font-size: 0.8em;
				border:0px solid red;
				line-height: 20px;
				float:left ;
				padding: 5px 5px;
				margin-top: 13px;
				margin-left: 25px;
			}
			.blog-item-read{
				border: 1px solid #009AD9;
				height: 15px;
				width: 60px;
				padding: 5px 5px;
				margin-top: 12px;
				font-size: .9em;
				float: right;
				transition: all .2s ease-in-out;
			}
			.blog-item-read:hover{
				background-color: #009AD9;
				color: #FFFFFF;
			}
			/*博客分页*/
			
			.blog-item-page {
				/*border: 1px solid red;*/
				height: 25px;
				line-height: 25px;
				/*position: absolute;
				top: 1100px;*/
				width: 850px;
				margin: 2px 5px;
				font-size: 14px;
			}
			
			.blog-item-page ul {
				margin: 0px 160px;
				width: 850px;
			}
			
			.blog-item-page ul li {
				float: left;
				/*border: 1px solid #9A9A9A;*/
				margin-left: 3px;
				/*border-radius: 2px;*/
			}
			
			.blog-item-page ul li a {
				padding: 0px 12px;
				display: inline-block;
				transition: all .35s;
			}
			
			.blog-item-page-a:hover {
				background-color: #37B5DE;
				color: #FFFFFF;
			}
			
			.blog-item-page-index {
				background-color: #37B5DE;
				color: #FFFFFF;
			}
			/*标签搜索区域*/
			
			.tag-search {
				border: 1px solid #8A2BE2;
				width: 250px;
				height: 260px;
				/*position:fixed;
				left: 33%;*/
				float: right;
				margin-right: 13%;
			}
			
			.tag-search-item {
				height: 25px;
				line-height: 25px;
				padding: 0px 5px;
				background-color: #069DD5;
				float: left;
				margin: 5px 3px;
				font-size: 14px;
				color: #FFFFFF;
				transition: background-color .35s;
			}
			.tag-search-item:hover {
				background-color: #4BCAFF;
			}