<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>占位符</title>
		<link rel="stylesheet" type="text/css" href="../Css/Initialization.css" />
		<link rel="stylesheet" href="../Css/MainMenu.css" />
		<link rel="stylesheet" href="../Css/PublicStyle.css" />
		<!--<link rel="stylesheet" href="../Css/Load.css" />-->
		<script type="text/javascript" src="../Js/Jquery_2.2.2.js"></script>
		<script type="text/javascript" src="../Js/Vue.js"></script>
		<link rel="stylesheet" href="../Css/JobStyle.css" />
		
	</head>

	<body>
		<div id="mainmenu">
			<main-menu></main-menu>
		</div>
		<div class="left-menu"></div>

		<div class="out-div" id="vue-component-job">
			<div class="in-item" id="item-pc">
				<div id="in-item-pc-img"></div>
				<div id="in-item-pc-content">
					<div class="content-div-left">姓名：</div>
					<div class="content-div-right">{{baseinfo.name}}</div>
					<div class="content-div-left">年龄：</div>
					<div class="content-div-right">{{baseinfo.age}}</div>
					<div class="content-div-left">性别：</div>
					<div class="content-div-right">{{baseinfo.gender}}</div>
					<div class="content-div-left">状态：</div>
					<div class="content-div-right">{{baseinfo.state}}</div>
				</div>

			</div>
			<div class="in-item" id="item-work">
				<div class="in-item-title">个人简介</div>
				<div class="in-item-work-content">

					<table class="item-work-content-table" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td>电话：</td>
								<td>{{baseinfo.phone}}</td>
								<td>地址：</td>
								<td>{{baseinfo.address}}</td>
							</tr>
							<tr>
								<td>邮箱：</td>
								<td>{{baseinfo.mail}}</td>
								<td>Q&nbsp;Q：</td>
								<td>{{baseinfo.qq}}</td>
							</tr>
							<!--<tr>
								<td>自我评价：</td>
								<td colspan="3" style="font-size: 14px;line-height: 1.4em;">{{baseinfo.info}}</td>
							</tr>-->
						</tbody>
					</table>
				</div>
			</div>
			<div class="in-item" id="item-project">
				<div class="in-item-title">项目介绍</div>
				<!--<div id="vue-component-project">-->
				<vue-component-project v-for="(item,index) in project" v-bind:datas="item"></vue-component-project>
				<!--</div>-->

			</div>
			<div class="in-item" id="item-skill">
				<div class="in-item-title">技能说明</div>
				<div class="item-skill-head">
					<div class="in-item-skill-name">技能类型</div>
					<div class="in-item-skill-duration">使用时长</div>
					<div class="in-item-skill-progress">每一格代表1个月的熟练度</div>
				</div>
				<div class="item-skill-content" id="item-skill-content">
					<vue-component-skill v-bind:datas="item" v-for="(item,index) in skill"></vue-component-skill>
				</div>
			</div>
			<div class="in-item" id="item-other">
				<div class="in-item-title">其他内容</div>

			</div>

		</div>

		<div class="top-menu">
			<span class="top-menu-btn">
				<span class="top-menu-ico"></span>
			<span class="top-menu-text">返回<br>顶部</span>

			</span>

		</div>
		<!--<div class="load" id="div-load"></div>-->
		<script type="text/javascript" src="../Js/PageInit.js"></script>
		<script type="text/javascript" src="../Js/JobDataInit.js"></script>
		<!--<script type="text/javascript" src="../Js/Load.js" ></script>-->
		<script>
			PageInit.MainMenu();
			PageInit.BackTop();
			JobData.InitProData();
		</script>
	</body>

</html>