<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>日志</title>
		<link rel="stylesheet" type="text/css" href="../Css/Initialization.css" />
		<link rel="stylesheet" href="../Css/MainMenu.css" />
		<script type="text/javascript" src="../Js/Jquery_2.2.2.js"></script>
		<script type="text/javascript" src="../Js/Vue.js"></script>
		<link rel="stylesheet" type="text/css" href="../Css/BlogListStyle.css"/>
		<style>
			
		</style>
	</head>

	<body>
		<div id="mainmenu">
			<main-menu></main-menu>
		</div>

<div id="vue-component-bloglist">
	<div class="tag-search">
			<tag-search v-for='(item,index) in TagTypeList' v-bind:tags="item"   v-on:tagsearch='TagList' >
				
			</tag-search>

		</div>
		<div class="out-div" >
			<blog-item v-for='(item,index) in BlogData.NowList' v-bind:blogs="item">

			</blog-item>

			
			<blog-page v-bind:blogdata='BlogData' v-on:gopage='DataListPage'>

			</blog-page>
		</div>
</div>
	</body>
	<script type="text/javascript" src="../Js/PageInit.js"></script>
	<script type="text/javascript" src="../Js/BlogListInit.js"></script>
	<script>
		PageInit.MainMenu();
		BlogList.InitVue();
		//		BlogList.CreatePage();
	</script>

</html>